body {
    width: 600px;
    margin: 0 auto;
    background-color: #fff4ed;
    border: 3px solid #931420;
    padding: 20px;
}

html {
    background-color: #ffffff;
}

header {
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.logo {
    float: left;
    margin-right: 30px;
}

h2 {
    font-size: 170%;
    color: var(--global-color-1);
    font-weight: bold;
    text-indent: 0;
}

h3 {
    font-size: 130%;
    font-style: italic;
    text-indent: 0;
    padding: 10px 0;
    border-top: 2px solid #931420;
    border-bottom: 2px solid #931420;
}

h3.this-season-speakers {
    border: 2px double #931420;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff4ed;
}


.shadow {
    font-weight: normal;
    text-shadow: 1px 1px 5px rgba(128, 0, 0, 0.5);
    color: var(--global-color-1);
}

blockquote {
    font-style: italic;
    margin: 0 0 1em;
}

main {
    padding: 0 30px;
}

footer {
    background-color: #931420;
    color: white;
    padding: 10px;
    text-align: center;
}

a:hover, a:focus {
    color: var(--global-color-1);
    text-decoration: underline;
}

:root {
    --global-color-1: #800000;
}
